<ul style="list-style-type:none" class="resultLi" id="ulbox">
	<li class="resultLi">Current Temperature: <%= currentTemp %>&deg;</li>
	<li class="resultLi">Humity: <%= humidity %></li>
	<li class="resultLi">Wind Speed: <%= windSpeed %></li>
	<li class="resultLi" id="summary"><%= summary %></li>
</ul>