<h2>Home Page</h2>
<h3>Input Location below</h3>
    <form method="POST" action="/results">
    <label>Location</label>
    <input type="text" name="name" value="">

    <input type="submit">
</form>
