<h2>Home Page</h2>
<form method="POST" action="/results">
	<label>Where are you?</label>
	<input type="text" name="location" placeholder="eg: 98119">
	<input type="submit" value="Check Weather">
</form>