<h2>Home Page</h2>

<form action="/" method="POST">
    <div class="input-field">
      <input type="text" name="place" placeholder="place" id="place"/>
      <label for="place">Place:</label>
    </div>
    <input type="submit" class="waves-effect waves-light btn" name="submit"/>
</form>
