<h2>Home Page</h2>

<form method="POST" action="/" name="" >
  <label for="location">City name, state, zip, etc.</label>
  <input id="location" type="text" name="location">

  <input type="submit">
</form>