<div class="form-container">
<form method="POST" action="/">
  <div class="input-field">
    <label for="userquery">Enter location, landmark, or address</label>
    <input type="text" name="userquery" id="userquery">
  </div>

  <div>

    <button type="submit" class="btn-waves-light waves-effect btn-large">Search</button>
  </div>
</form>
</div>


<!-- LOADING SPINNER -->
<div class="loading hide">
<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
</div>

<script src="loading.js"></script>