<div class="row">
  <div class="col-12 center">
    <h3 class="center">Search (City, State, Zip, etc)</h3>
    <form method="POST" action="/" name="" >
      <input id="location" type="text" name="location" required>
      <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </form>
  </div>
</div>