<h2>Home Page</h2>

<form action="/" method="POST">
    <div class="input-field">
      <input type="text" name="location" placeholder="location" id="location">
      <label for="location">Enter a location:</label>
    </div>
    <input type="submit" class="waves-effect waves-light btn">
  </form>
