<!-- <!DOCTYPE html>
<html>
<head>
	<title>Weather Check</title>
</head> -->
<body>
	<h1>Weather Update</h1>
	<form method="POST" action="/">
		<div>
			<label>Enter your location</label>
			<input type="text" name="userquery" placeholder="ex. seattle, wa">
		</div>
		<input type="submit" value="Search Now!">
	</form>
</body>
</html>