<h2>Home Page</h2>
<h3>want ASL but let's start with L</h3>
<form action="/" method="post">
  <label for="weather-location">your location</label>
  <input type="text" name="location" placeholder="Seattle">
  <input type="submit" value="find out the weather">
</form>
