<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
</head>
<body>
	<h2>Enter a location to view the weather forecast:</h2>

	<form method="POST" action="/"> 
		<div>
			<input type="text" name="userquery" placeholder="location">
		</div>
		<input type="submit" value="search now!">
	</form>


</body>
</html>


