<h2>Let's find out! Search for a location to get it's weather.</h2>

<form method="POST" action="/">
    <div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">location_on</i>
        <input id="location" type="text" class="validate" name="name">
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search
        <i class="material-icons right">search</i>
    </button>
    </div>
</form>


