<h2>Home Page</h2>

<div class="row">
    <form method="POST" action="/result" class="col s8" >
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Enter A Location" id="location" type="text" class="validate" name = "location">
          <label for="location">Location</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type = "submit" name = "action">
          <i class="material-icons right">cloud</i>Rollin</button>
    </form>
</div>