<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="/current">Currently</a></li>
        <li class="tab col s3"><a href="/hourly">Hourly</a></li>
        <li class="tab col s3"><a href="/daily">Daily</a></li>
        <li class="tab col s3"><a href="/about">Test 4</a></li>
      </ul>
    </div>
    <div id="current" class="col s12">Currently</div>
    <div id="hourly" class="col s12">Hourly</div>
    <div id="daily" class="col s12">Daily</div>
    <div id="about" class="col s12">About App</div>
  </div>

