<!DOCTYPE html>
<html>
<head>
	<title>results page</title>
</head>
<body>
	<h2>Weather results for your requested location: </h2>

	<%= x %>, <%= y %> 

	


</body>
</html>


<!-- <h2>Results Page</h2>
 -->