<!-- <!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head> -->
<body>
	<h1>Results Page</h1>
	<h3><%= currentTemp %></h3> 
<!-- 	<h2>Your location <%= q %></h2>
	<p>Here's what we found...</p>
	<%= lat %>
	<%= lng %> -->
</body>
</html>