<h2><%= localLocation %></h2>
<p>Coordinates: <%= Math.floor(localCoordinates.y) %>°, <%= Math.floor(localCoordinates.x) %>°</p>

<h5>Current Temperature: <%= localTemp %> ℉</h5>
<!-- 
<h1>Next 5 Days:</h1>

<h6>Monday</h6>




<h6>Monday</h6>





<h6>Monday</h6>




<h6>Monday</h6>






<h6>Monday</h6> -->