<!DOCTYPE html>
<html>
<head>
	<title>results page</title>
</head>
<body>
	<h2>Current temperature for your requested location:</h2>

	<%= temp %>° F


	


</body>
</html>


<!-- <h2>Results Page</h2>
 -->