nav {
  background-color: #888;
}

nav img {
  max-width: auto;
  max-height: 55px;
}

h1 {
  font-size: 24px;
  color: dodgerblue;
}

h2 {
  font-size: 20px;
}


.loading {
  width: 100%;
  height: auto;
}
/* 
.hide {
  visibility: hidden;
  display: none;
} */

.form-container {
  max-width: 800px;
}

.card-top, .card-middle, .card-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* .card-top {
  align-items: flex-start;
} */

.icon-container {
  width: 200px;
  height: 150px;
}

.temp {
  width: 200px;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.temp-title {
  font-size: 48px;
}

.alert-link {
  display: block;
  text-decoration: none;
  color: red;
  width: 200px;
  height: 200px;
}

.detail-block {
  display: inline-block;
}
