nav {
  background-color: #6774ff;
}

nav img {
  max-width: auto;
  max-height: 55px;
}

h1 {
  font-size: 24px;
  color: #6774ff;
}

h2 {
  font-size: 20px;
}

.results {
	color: #6774ff;
}

#submit {
/*	opacity: .5;*/
	padding: 1vh 1vw;
	background-color:  #6774ff;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid black;
	margin: 2.5vh 20px 1.5vh;
	transition-duration: 0.2s;
	color: white;
	font-weight: 800;
	max-width: 125px;
	text-align: center;
}

#submit:hover {
	cursor: pointer;
	opacity: .8;
	transition-duration: .6s;
	display: inline-block; -webkit-transform:scale(1.3);
	display: inline-block; -moz-transform: scale(1.2);
	display: inline-block; -ms-transform: scale(1.2);
}

#summary {
	font-size: 425%;
	color: grey;
	font-weight: 800;
	padding-bottom: 50px;
	padding-top: 10px;
}

#resultBox {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
}

#rs1, #rs2, #rs3, #rs4 {
	font-size: 110%;
	color: grey;
	font-weight: 800;
	padding-bottom: 50px;
	padding-top: 10px;
}

/*.row {
	padding-top: 50px;
}

.resultLi {
	color: grey;
	font-size: 150%;
}

#ulbox {
	padding-top: 100px;
}*/
