nav {
  background-color: #888;
}

nav img {
  max-width: auto;
  max-height: 55px;
}

h1 {
  font-size: 24px;
  color: dodgerblue;
}

h2 {
  font-size: 20px;
}
table {
    margin: 10px;
    padding: 10px;
}
td {
    border: 1px solid black;
}
th {
    text-align: center;
}
